.appGrid {
  box-sizing: border-box;
  width: 100%;
  height: var(--panel-height);
  /* border: 2px solid blue; */
  /* display: grid; */
  /* grid-template-rows: 18fr 0fr; */
  /* grid-row-gap: .5rem; */
  overflow: hidden;
}